<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [COMMUNITY-WEB] %level %logger{15}[%file:%line] %msg%n</pattern>
			<!-- %.-1level|%-40.40logger{0}|%msg%n -->
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/COMMUNITY/logs/web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>/home/COMMUNITY-WEB/logs/web.%d{yyyy-MM-dd}.log
			</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [COM_WEB] %level %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.jos" level="debug" />
	<logger name="com.jos" level="info" />
	<logger name="org.springframework" level="debug" />
	<logger name="org.springframework" level="info" />
	<logger name="org.springframework.beans" level="info" />
	<!-- show parameters for hibernate sql -->  
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />  
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />  
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />  
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />
<!-- 	<logger name="org.activiti.engine.impl.persistence.entity" level="DEBUG" /> -->

	<root level="WARN">
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</configuration>