<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/lib/**" security="none" />
	<http pattern="/service/public/**" security="none" />

	<http use-expressions="true">
		<!-- <intercept-url pattern="/service/estar/validation/**" access="isAuthenticated()" 
			/> -->
		<intercept-url pattern="/service/**" access="isAuthenticated()" />
		<intercept-url pattern="/system/**" access="isAuthenticated()" />
		<intercept-url pattern="/demo/**" />  <!-- access="hasRole('systemAdmin')" -->
		<form-login login-page="/account/login.jsp" />
		<logout logout-success-url="/account/logout.jsp" />
		<access-denied-handler error-page="/account/accessDenied.jsp" />

		<csrf disabled="true" />

		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />
	</http>

	<!-- <beans:bean id="josAuthenticationSuccessHandler" class="com.jos.estar.security.JosAuthenticationSuccessHandler"></beans:bean> -->

	<beans:bean id="filterSecurityInterceptor" class="com.jos.security.JosFilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="josAuthenticationManager" />
		<beans:property name="accessDecisionManager" ref="josAccessDecisionManager" />
		<beans:property name="securityMetadataSource" ref="josSecurityMetadataSource" />
	</beans:bean>

	<authentication-manager alias="josAuthenticationManager">
		<authentication-provider ref="daoAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="daoAuthenticationProvider" class="com.jos.security.JosDaoAuthenticationProvider">
		<beans:property name="userDetailsService">
			<beans:ref bean="userDetailsServiceImpl" />
		</beans:property>
	</beans:bean>

	<beans:bean name="md5password" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"></beans:bean>

	<beans:bean id="josAccessDecisionManager" class="com.jos.security.JosAccessDecisionManager">
	</beans:bean>

	<beans:bean id="josSecurityMetadataSource" init-method="loadResourceDefine" class="com.jos.security.JosInvocationSecurityMetadataSourceService">
		<beans:property name="roleService" ref="roleService" />
		<beans:property name="resourceService" ref="resourceService" />
	</beans:bean>


</beans:beans>